@import url(variable.css);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    grid-template-rows: .6fr .5fr .5fr 260px;
    /* background: lightblue; */
    grid-template-areas:
        "header header header"
        "leftTopCard left1 right1"
        "leftTopCard left2 right2"
        "leftBottonCard left2 right3";

    padding: 2em;
    /* grid-gap:8px; */
    
}
.header{
    grid-area: header;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 2em;
}
.left_topCard{
    grid-area: leftTopCard;
    /* background: lightcoral; */
    padding: 2em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.left_topCard h3{
    font-size: 4em;
    margin-bottom: 5%;
}
.left_topCard p{
    font-size: 1.2em;
    margin-bottom: 5%;
}
.left_topCard button{
    background: var(--color-font);
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.7);
    border-top-left-radius: 30px; /* Aplica un borde circular solo al lado superior izquierdo */
    border-top-right-radius: 30px; /* Aplica un borde circular solo al lado superior derecho */
    border-bottom-left-radius: 30px; /* Aplica un borde circular solo al lado inferior izquierdo */
    border-bottom-right-radius: 30px;
    color: white;
    width: 40%;
    height: 10%;
    border: none;
    text-transform: capitalize;
}
.left_bottonCard{
    grid-area: leftBottonCard;
    /* background: lightgreen; */
    padding: 1em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.card{
    /* background: lightcyan; */
    display: flex;
    flex-direction: column;
    border-top-left-radius: 30px; /* Aplica un borde circular solo al lado superior izquierdo */
    border-top-right-radius: 30px; /* Aplica un borde circular solo al lado superior derecho */
    border-bottom-left-radius: 30px; /* Aplica un borde circular solo al lado inferior izquierdo */
    border-bottom-right-radius: 30px;
    gap: 4em;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 2em;
}
.card1{
    display:flex;
    position: relative;
}
.card1 img{
    position: absolute;
    top: 165%;
}
.card2{
    display: flex;
}
.card1 img:nth-child(2){
    position: absolute;
    top: 175%;
    right: 0%;

}
.picture1{
    /* background: red; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}
.picture2{
    /* background: yellow; */
    /* text-align: center; */
}
.lefttop{
    grid-area: left1;
    /* background: lightsalmon; */
    display: flex;
    justify-content: center;
}
.leftBotton{
    grid-area: left2;
    /* background: lightgrey; */
    display: flex;
    height: 100%;
    border-bottom: 2px solid black;
    position: relative;
}
.leftBotton img{
    position: absolute;
    bottom: 0;
}
.righttop{
    grid-area: right1;
    /* background: lightslategray; */
    display: flex;
    justify-content: right;
    border-right: 2px solid black;
}
.righttop img{
    margin-bottom: 6%;
}
.rightmiddle{
    grid-area: right2;
    /* background: lightgoldenrodyellow; */
    display: flex;
    justify-content: right;
    position: relative;
    border-right: 2px solid black;
}
.rightbotton{
    grid-area: right3;
    /* background: lightseagreen; */
    display: flex;
    justify-content: right;
    position: relative;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.rightbotton img{
    position: absolute;
    bottom: 0;
}