@import url(variable.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .4fr 2fr .9fr;
    grid-template-areas:
    ". . ." 
    "card img1 img2"
    "parrafo parrafo1 parrafo2";
}

.item_1{
    grid-area: card;
    margin-left: 8%;
    /* background: red; */
    content: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item_1 img{
    width: auto;
    height: 43%;
    object-fit: contain;  
}
.item_3 p{
    margin-left: 8%;
}
.item_1 p{

    font-size: 4.6rem;
    width: 87%;
    height: auto;
    /* background: rgb(168, 27, 168); */
    color: var(--color-font);
    text-overflow: ellipsis;
    /* background: red; */
}
.item_2{
    grid-area: img1;
    /* background: blue; */
    display: flex;
    justify-content: center;
    
}
.item_3{
    /* margin-left: 8%; */
    grid-area: parrafo;
    /* background: green; */
    display: flex;
    content: absolute;
    align-items: center;
    justify-content: center;
}
.item_3 p{
    grid-area: parrafo;
    /* background: violet; */
    font-size: 1rem;
    width: 70%;
    height: 100px;
    color: #06040A;
    margin-right: 10%;
}
.item_5 p{
    /* background: greenyellow; */
    font-size: 1rem;
    width: 88%;
    height: 100px;
    color: #06040A;
}
.item_6 p{
    /* background: greenyellow; */
    font-size: 1rem;
    width: 88%;
    height: 100px;
    color: #06040A;
}
.item_4{
    grid-area: img2;
    /* background: goldenrod; */
    display: flex;
    justify-content: center;
}
.item_5{
    grid-area: parrafo1;
    /* background: pink; */
    display: flex;
    content: absolute;
    align-items: center;
    justify-content: end;
    gap: 15px;
    width:95%;
}
.item_6{
    grid-area: parrafo2;
    /* background: orangered; */
    display: flex;
    content: absolute;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width:95%;
}

.parrafo{
    content: relative;
    color: #333333;
    /* background: red; */
    font-size: 2.2em;
    margin-bottom: 13%;
}